.ct-card {
  background-color: var(--ct-color-bg-quaternary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
}

.ct-card img {
  width: 220px;
  margin-bottom: 8px;
}

.ct-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
}

.ct-card p {
  font-size: 14px;
  color: var(--ct-color-font-secondary);
  font-style: italic;
  margin-bottom: 38px;
}
