.ct-search-bar {
  display: flex;
}

.ct-search-bar input {
  padding: 0 15px;
  border: 1px solid var(--ct-color-font-placeholder);
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.ct-search-bar input::placeholder {
  color: var(--ct-color-font-placeholder);
}

/* quando tiver no focus nao quero que tenha a linha em cima do input selecionando ele*/
.ct-search-bar input:focus {
    outline: none;
}

.ct-form-control {
  height: 40px;
  width: 100%;
}

.ct-search-bar-submit {
  background-color: var(--ct-color-bg-tertiary);
  color: var(--ct-color-font-quaternary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 0 11px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
