/* aqui fica a estilizacao da pagina Catalog, geral*/
#ct-catalog-section {
  padding: 40px 0;
}

.ct-catalog-main {
  padding: 0 10px;
}

.ct-search-bar-container {
  margin-bottom: 40px;
  
}

.ct-catalog-cards-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
} 

/* quando a tela for para 576px, o padding do main vai de 10 para 20px*/
@media (min-width: 576px) {
  .ct-catalog-main {
    padding: 0 20px;
  }
}
