@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ct-color-bg-primary: #fff;
  --ct-color-bg-secondary: #F78B00;

  --ct-color-font-primary: #000000;
  --ct-color-font-secondary: #585858;
  --ct-color-font-tertiary: #00285F;
  --ct-color-font-quaternary: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset; /* cor nao muda quando faz o hover do mouse em cima */
}

html,
body {
  background-color: var(--ct-color-bg-primary);
}

.ct-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}